<div class="block container">
  <header class="block__header">
    <h2 class="block__heading">Item1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque
      libero doloribus dolores, adipisci nobis a. Non similique earum magni.
      Eaque rem fugit odio laudantium aut veritatis officiis nemo accusamus.
    </p>
  </header>
</div>
<div class="block block--dark block--skew-right">
  <div class="container">
    <h2 class="block__heading">Item1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque
      libero doloribus dolores, adipisci nobis a. Non similique earum magni.
      Eaque rem fugit odio laudantium aut veritatis officiis nemo accusamus.
    </p>
  </div>
</div>
<div class="block block--dark block--skew-left">
  <h2 class="block__heading">Item1</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque
    libero doloribus dolores, adipisci nobis a. Non similique earum magni. Eaque
    rem fugit odio laudantium aut veritatis officiis nemo accusamus.
  </p>
</div>
