<div class="callout callout--primary">
    <div class="grid grid-1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to get started?</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas et in
          perspiciatis reprehenderit expedita voluptatum esse, mollitia quae
          sint explicabo magnam ipsa voluptas obcaecati excepturi maiores non
          repudiandae illum. Ullam.
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--stretch">Get started</a>
    </div>
  </div>