<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eveniet
    assumenda dolore quae! Quisquam, cum? Possimus modi nisi ad! Eligendi
    molestias dicta ipsa dignissimos sunt esse nam architecto aspernatur veniam!
  </div>
</div>
<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item2</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eveniet
    assumenda dolore quae! Quisquam, cum? Possimus modi nisi ad! Eligendi
    molestias dicta ipsa dignissimos sunt esse nam architecto aspernatur veniam!
  </div>
</div>
