<div class="block container">
  <header class="block__header">
    <h2>Hosted on Could to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit,
      nulla!
    </p>
  </header>

  <article class="grid grid-1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
        excepturi eaque nobis placeat maxime dignissimos quam, blanditiis ipsa
        praesentium porro repudiandae impedit voluptatum itaque earum fuga minus
        cum possimus quisquam!
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>

    <div>
      <picture>
        <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
        />
        <img
          class="feature__image"
          src="images/easy@2x.jpg"
          alt="Easy to use"
        />
      </picture>
    </div>
  </article>

  <article class="grid grid-1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
        excepturi eaque nobis placeat maxime dignissimos quam, blanditiis ipsa
        praesentium porro repudiandae impedit voluptatum itaque earum fuga minus
        cum possimus quisquam!
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>

    <div>
      <picture>
        <source
          type="image/webp"
          srcset="images/Wordpress.webp 1x, images/Wordpress@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/Wordpress.jpg 1x, images/Wordpress@2x.jpg 2x"
        />
        <img
          class="feature__image"
          src="images/easy@2x.jpg"
          alt="Easy to use"
        />
      </picture>
    </div>
  </article>
</div>
